body {
    text-align: center;
    background: #fff;
  }
  
  .info {
    display: flex;
    justify-content: center;
  }
  
  .level {
    margin: 0 20px;
  }
  
  .lines {
    margin: 0 20px;
  }
  
  .score {
    margin: 0 20px;
  }
  
  #myCanvas {
      background: #fff;
      margin-left: 10px;
      margin-top: 20px;
  }


